<div class='container'>
    <h2>
        All of Your Registered Applications:
    </h2>

    <% @reg_apps.each do |app| %>
    <div class='media'>
        <div class='media-body'>
            <div class='media-heading'>
            <li><%= link_to app.name, registered_application_path(app.id)%></li>
            </div>
        </div>
    </div>
    <% end %>

    <%= link_to "New App", new_registered_application_path, class:'btn btn-primary' %>
    
</div>
