<div class='container-fluid'>
  <div class='row'>

    <div class='media'>
        <div class='media-body'>
            <h3 class='media-heading'>
                Your Registered Applications:
            </h3>
            <% @reg_apps.each do |app| %>
            <p><%= link_to app.name, registered_application_path(app.id)%></p>
            <% end %>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-8'>
            <%= link_to "New App", new_registered_application_path, class:'btn btn-primary' %>
        </div>
    </div>
</div>
</div>
