<div class='media'>
    <div class='media-body'>
        <div class='media-heading'>
            <h3>Application Name:</h3>
            <p>
                <%= @reg_app.name %>
            </p>
            <h3>
                Application URL:
            </h3>
            <p>
                <%= @reg_app.url %>
            </p>

        </div>
    </div>
</div>
