<div class='footer'>
    <div class="container">
        <p class="text-muted">Blocmetrics - by Glenn Gartner - with help from:
            <a href="http://www.bloc.io">Bloc.io</a>
        </p>
    </div>
</div>
